


*.xls
*.xlsx
*.txt
*.pyc

.idea
movc/__pycache__/
movc/__pycache__/*
movc/__pycache__/movutility.cpython-35.pyc

all7/__pycache__
all7/movc/

ctt4/input/
ctt4/output/


data/old_data/*





img/
output/
test/test_fields.py
